body{
  background-color: rgb(248, 243, 239);
  height: 800px;
}

.chart {
  background-color: rgb(250, 242, 242);
  width: 420px;
  height: 520px;
  /* margin: 0 auto; */
}

#h3TimeProg{
  font-size: 25px;
  color: rgb(141, 43, 43); 
  margin: 10px;
  margin-left: 50px; 
}

#h3TimeMusic{
  font-size: 25px;
  color: rgb(88, 88, 165);
  margin: 10px;
  margin-left: 50px;
  margin-bottom: 10px;
}

#h3PerDay{
  font-size: 25px;
  color: rgb(133, 89, 53); 
  margin: 10px;
  margin-left: 50px; 
}

#h3FishTime{
  font-size: 25px;
  color: rgb(112, 54, 6); 
  margin: 10px;
  margin-left: 50px;
}

#sumMusic {  
  color: rgb(83, 79, 76);
}

#dates{
  color: rgb(104, 99, 96);
}

.btnBack{
  background-color: rgb(213, 243, 243);
  width: 100px;
  height: 50px;
  border: 2px solid rgb(211, 216, 245);
  border-radius: 10px; 
  position: fixed;
  bottom: 20px;
  font-size: 17px;
  color: rgb(104, 99, 96);
}
 
.activity2, .activity,  .activity1  {
  color: rgb(63, 59, 57);
  display: flex;
  justify-content: center;
  margin-bottom: 40px; 
}  

.wrapper{
  display: flex;  
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: space-around;
  /* display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;  */
}