body{
  background-color: rgb(248, 243, 239);
}

.chart {
  background-color: rgb(250, 242, 242);
  width: 450px;
  height: 450px;
  margin: 0 auto;
}
#h3TimeProg{
  font-size: 25px;
  color: rgb(141, 43, 43);
  margin: 10px;
  margin-left: 50px; 
}

#h3TimeMusic{
  font-size: 25px;
  color: rgb(88, 88, 165);
  margin: 10px;
  margin-left: 50px;
  margin-bottom: 20px;
}


#sumMusic {  
  color: rgb(104, 99, 96);
}

#begin{
  color: rgb(104, 99, 96);
}