body{
  background-color: rgb(248, 243, 239);
  height: 800px;
}

.chart {
  background-color: rgb(250, 242, 242);
  width: 400px;
  height: 400px;
  margin: 0 auto;
}

#h3TimeProg{
  font-size: 25px;
  color: rgb(141, 43, 43);
  margin: 10px;
  margin-left: 50px; 
}

#h3TimeMusic{
  font-size: 25px;
  color: rgb(88, 88, 165);
  margin: 10px;
  margin-left: 50px;
  margin-bottom: 20px;
}

#sumMusic {  
  color: rgb(104, 99, 96);
}

#begin{
  color: rgb(104, 99, 96);
}

.btnBack{
  background-color: rgb(213, 243, 243);
  width: 100px;
  height: 50px;
  border: 2px solid rgb(211, 216, 245);
  border-radius: 4px;
  position: fixed;
  font-size: 17px;
  color: rgb(104, 99, 96);
}

.activity{
  color: rgb(63, 59, 57);
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}

.wrapper{
  display: grid;
  grid-template-columns: 1fr 1fr;
}