.chart {
  background-color: rgb(250, 242, 242);
  width: 450px;
  height: 450px;
  margin: 0 auto;
}

#sumTime {
  font-size: 30px;
  color: rgb(104, 99, 96);
}

#sumMusic {
  font-size: 30px;
  color: rgb(104, 99, 96);
}
